# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/

# Hugging Face cache
.cache/

# OS
.DS_Store
Thumbs.db

# macOS
__MACOSX/
*.DS_Store

# Hugging Face
.cache/


# Training outputs
outputs/

# Datasets
datasets/raw/
datasets/processed/

# Keep folder structure
!datasets/processed/.gitkeep